:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 100%;

  color: hsla(217, 0%, 86%, 0.9);
}
body, main {
  margin: 0;
  height: 100%;
}

.invisible-button {
  background: transparent;
  border: none;
}

.input {
  font-size: 1.6rem;
  border: 1px solid transparent;
  background-color: transparent;
  width: 100%;
  color: hsl(211, 22%, 86%)
}

.input:focus {
  outline: none;
}

.input::placeholder {
  opacity: 0.5;
}

.search-container {
  background-color: rgb(41, 43, 46, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  border-radius: 0.7rem;
  height: 50px;
  padding: 0 0.7rem;
}

.search-icon {
  height: 1.6rem;
  aspect-ratio: 1;
  color: hsla(217, 0%, 86%, 0.8);
}

